{% extends 'index_main.html' %}
{% load static %}

{% block content %}


 <section class="whats-trending">
      <div class="container expanded">
          <div class="row">
              <div class="col-lg-6 align-self-center">
                  <div class="section-heading">
                      <h2>Check Out Whats Trending In<br><em>Our Interior Work</em>.</h2>
                  </div>
                  <div class="left-content">
                      <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito adipcingi elit, sed do eismuod larehai med at vero eos et suscipit neque rerum molestias accusamus et iusto odio dignissimos ducimus qui blanditis.</p>
                      <div class="primary-button">
                          <a href="#">Discover More</a>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </section>
  <style type="text/css">
     .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
   </style>

 <div class="container bcontent">
        <h1 style="color:black;
     text-align: left;
    margin-top: 1em;
font-weight: bold;">
          Our Glorious product range </h1>
        <hr />
     {% for category in categories %}
        <div class="card" style="width: 90%;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img style="padding:20px" class="card-img" height="100%" width="100%" src="static{{ category.image.url }}" alt="">
                </div>
                <div class="col-sm-7">
                    <div class="card-body" style="padding:4rem">
                        <h5 class="card-title">{{ category.title}}</h5>
                        <p class="card-text">
                          {{ category.description }}
                        </p>
<a class="aa-browse-btn" href="products-premium.html">Know more<span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
     {% endfor %}
 </div>

{% endblock content %}