{% extends 'index_main.html' %}
{% load static %}

{% block content %}
<div class="page-banner change-name">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="header-text">
                        <h2>Checkout our latest range of <em> {{ category.title }}</em></h2>
                        <p>{{ category.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


     <style type="text/css">
     .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
   </style>

 <div class="container bcontent">
        <h1 style="color:black;
     text-align: left;
    margin-top: 1em;
font-weight: bold;">
          Our Glorious product range </h1>
        <hr />
     {% for product in products %}
        <div class="card" style="width: 90%;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img style="padding:20px" class="card-img" height="100%" width="100%" src="/static{{ product.image.url }}" alt="">
                </div>
                <div class="col-sm-7">
                    <div class="card-body" style="padding:4rem">
                        <h5 class="card-title">{{ product.title}}</h5>
                        <p class="card-text">
                          {{ product.description|linebreaks }}
                        </p>
<a class="aa-browse-btn" href="{% url 'product' product.pk%}">Know more<span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
     {% endfor %}
 </div>


{% endblock content %}