{% extends 'index_main.html' %}
{% load static %}
<style>
    {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
</style>
{% block content %}
<div class="page-banner change-name">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="header-text">
                        <h2><em>{{ product.category.title }}</em> </h2>
                        <p>{{ product.category.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <section class="explore-item">
        <div class="container expanded">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>{{ product.title }}</h2>
                    </div>
                    <div class="main-image">
                        <img src="/static{{ product.image.url }}" alt="master bedroom design">
                    </div>
                </div>
                <div class="col-lg-6">

                    <p style="font-size: x-large">{{ product.description|linebreaks }}</p>
                </div>
                <div class="col-lg-6 offset-lg-3">
                    <img src="/static{{ product.specification.url }}" alt="">
                </div>


            </div>
        </div>
    </section>

          <section class="contact-us form-popup" id="contact" style="background-image: None;padding-bottom: 1px;padding-top: 1px" >
      <div class="container" id="myForm" style="display: none">
          <div class="row">
              <div class="col-lg-6 left-form">
                  <form id="contact" action="" method="post" onsubmit="myFunction()">
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="section-heading">
                                  <h2>Please fill out a small form before we start the<br><em>Download</em></h2>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <input name="name" type="text" id="name" placeholder="Full Name*" required="">
                          </div>
                          <div class="col-lg-6">
                              <input name="mob_number" type="number" id="mob_number" placeholder="Contact Number*" required="">
                          </div>
                          <div class="col-lg-12">
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                          </div>

                          <div class="col-lg-12">
                              <button type="submit" id="form-submit" class="main-button ">Send Message</button>
                          </div>
                      </div>
                  </form>
              </div>
              <script>
                  function myFunction() {
  alert("Thank you, your download will start soon");window.open({{ product.brochure.url }});
}
              </script>

          </div>
      </div>
  </section>


    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Download Brochure</h2>
                </div>
                <div class="col-lg-4">
                    <div class="white-button">
                        <button onclick='  document.getElementById("myForm").style.display = "block"; '> Download now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock content %}

<script>
    function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>